*~
master/nightly*
master/auto*
master/dist*
master/try*
master/snap3*
master/gitpoller*
master/http.log
master/master.cfg.txt
master/master.cfg.sample
master/passwords.py
master/passwords.pyc
master/public_html
master/runtests
master/slave-list.txt
master/state.sqlite
master/twistd.log
master/twistd.pid
rust-bot-privkey.pem
rust-bot-sign-secretkey.asc
rust-bot-sign-passphrase
