*~
master/nightly*
master/auto*
master/dist*
master/try*
master/snap3*
master/buildbot.tac
master/gitpoller*
master/http.log
master/master.cfg.txt
master/master.cfg.sample
master/public_html
master/runtests
master/slave-list.txt
master/state.sqlite
master/twistd.log
master/twistd.pid
rust-bot-privkey.pem

